/* General body styling */
body {
    background-color: #181818;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card styling */
.card {
    width: 28rem;
    margin: 30px auto;
    background-color: #282828;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card body styling */
.card-body {
    padding: 20px;
}

/* Title styling */
.card-title {
    font-size: 24px;
    color: white;
}

/* Input group styling */
.input-group {
    margin-bottom: 15px;
}

.input-group-text {
    background-color: #484848;
    border: none;
    color: white;
}

.form-control {
    background-color: #383838;
    border: none;
    color: white;
    padding: 10px;
}

.form-control::placeholder {
    color: #c4c4c4;
}

/* Radio button styling */
.form-group input[type="radio"] {
    margin-right: 10px;
}

/* Button styling */
.btn-primary {
    background-color: #484848;
    border-color: #484848;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #606060;
    border-color: #606060;
}

/* Prediction text styling */
.text-center {
    font-size: 18px;
    margin-top: 20px;
}

/* Footer styling */
footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

/* Responsive design for mobile */
@media (max-width: 576px) {
    .card {
        width: 90%;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group-prepend {
        margin-bottom: 10px;
    }

    .btn-primary {
        width: 100%;
    }
}
